@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
  list-style: none;
}

 .base {
  color: green;
}
.currency {
  color: red;

}
.result {
  font-weight: bold;
}

.list {
  width: 350px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
tr {
  border: 1px solid green;
}
